@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

* {
  /* main color theme */
  --red: #b14237;
  --purple: #7252a3;

  /* theme */
  --light-theme: rgb(73, 77, 97);;
  --main-theme: rgb(39,41,52);
  --dark-theme: rgb(25, 26, 33);
  --button-theme: #5865F2;

  /* policiy */
  --main-policy: #BBBBBB;
  --light-policy: #F5F5F5;
  --dark-policy: #ABABAB;

  --background-secondary: #2f3136
}

div {
  box-sizing: border-box;
  border: 0px;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0px;
  outline: 0px;
  padding: 0px;
  vertical-align: baseline;
}

p { margin: 0px; padding: 0px; }
h5 { margin: 0px; padding: 0px; }
h1 { margin: 0px; padding: 0px; }

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

body {
  /* background */
  background: var(--main-theme);
  color: var(--main-policy);
  margin: 0px;
  padding: 0px;
  font-size: 30px;
  font-family: 'Dongle', sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* NAVBAR */

.navbar {
  height: 105px;
  width: 100%;
  background: var(--dark-theme);
  display: flex;
  vertical-align: center;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.navbar .connect a {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-decoration: none;
  color: var(--light-policy);
}

.navbar .connect button {
  top: 25%;
  margin: 10px;
  min-height: 38px;
  line-height: 22px;
  padding-inline-end: 20px;
  padding-inline-start: 20px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  user-select: none;
  color: rgb(242, 244, 251);
  border-radius: 8px;
  transition: background-color 0.15s ease-out 0s, color, opacity, border;
  outline: none;
  text-decoration: none;
  background: var(--button-theme);
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}

.navbar .avatar .box {
  background-color: var(--main-theme);
  margin: 10px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  text-align: center;
}

.navbar .avatar .box img {
  height: 70px;
  width: auto;
  border-radius: 50%;
  margin: 10px;
  margin-right: 20px;
}

.navbar .avatar .box a {
  text-decoration: none;
  color: var(--dark-policy);
  font-size: 35px;
  margin-right: 20px;
}

.navBtu {
  min-height: 38px;
  padding-inline-start: 16px;
  font-size: 40px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  user-select: none;
  padding-inline-end: 8px;
  color: var(--main-policy);
  border-radius: 8px;
  transition: background-color 0.15s ease-out 0s, color, opacity, border;
  outline: none;
  text-decoration: none;
  background: transparent;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  cursor: pointer;
  margin-left: 20px;
}

.navBar a {
  font-size: 24px;
}

.navElm {
  z-index: 10;
  position: relative;
  box-sizing: border-box;
  border: 0px;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0px;
  outline: 0px;
  padding: 0px;
  vertical-align: baseline;
}

.navBar .txt {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  transition: opacity 0.15s ease-out 0s;
}

.navBar .txt svg {
  margin-inline-start: 8px;
  min-width: 20px;
  position: relative;
}

/* SVG */

svg {
  width: 20;
  height: 20;
  fill: none;
}

svg:not(:root) {
  overflow: hidden;
}

/* PROFILE */

.profile {
  display: flex;
  height: 200px;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 100px 0px 100px;
}

.profile img {
  position: -webkit-sticky;;
  border-radius: 40px;
  margin: 20px;
  height: 140px;
  width: auto;
  box-shadow: 9px 9px 9px var(--dark-theme);
}

.profile h1 {
  position: -webkit-sticky;
  vertical-align: middle;
  display: flex;
}

.profile div {
  top: 10%;
  vertical-align: middle;
  position: relative;
  align-items: center;
}

.profile div h1 {
  margin: 0px;
  top: 100%;
  padding: 0px;
}

.profile div p {
  margin: 0px;
  top: 100%;
  margin-top: 10px;
  padding: 10px;
  display: block;
  position: relative;
  top: -40px;
  padding-left: 20px;
}

/* STATS */
.stats {
  background-color: var(--light-theme);
  margin: 0px;
  padding: 0px;
  display: flex;
  vertical-align: middle;
  display: flex;
}

.stats p {
  font-size: 35px;
  margin-left: 60px;
  font-weight: 550;
  padding: 10px;
}

/* CONTAINER */
.container {
  padding-top: 20px;
  background-color: var(--dark-theme);
  width: 100%;
  height: 100%;
}


/* WHY KADY */
.why-kady {
  margin-left: 20px;
  margin-right: 20px;
}

.why-kady .list .listBox {
  background-color: var(--main-theme);
  margin: 10px;
  max-width: 75%;
  height: 140px;
  display: flex;
  vertical-align: center;
  border-radius: 5px;
  margin-bottom: 20px;
}

.why-kady .list .listBox p {
  position: relative;
  margin-top: 40px;
  padding: 0px;
  line-height: 30px;
  max-height: 100px;
  padding-right: 15px;
}

.why-kady .list .listBox img {
  max-width: 100px;
  max-height: 100px;
  margin: 20px;
}

.why-kady .list .listBox span {
  font-size: 20px;
}

.command {
  background-color: var(--dark-theme);
  font-size: 25px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
}

/* SCROLL BAR */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--dark-theme);
}

::-webkit-scrollbar-thumb {
  background: var(--button-theme);
}

::-webkit-scrollbar-thumb:hover {
  background: #3640b4;
}

/* NEWS */

.blog {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
}

.newsBox {
  max-width: 30%;
  margin: 20px;
  height: 300px;
  background-color: var(--main-theme);
  box-shadow: 7px 7px var(--light-theme);
  color: var(--dark-policy);
  padding: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  border-radius: 30px;
}

.newsBox .title {
  line-height: 25px;
  display: flex;
}

.newsBox .title img {
  height: 100px;
  width: 100px;
  margin: 20px;
  border-radius: 20px;
}

.newsBox #arrow {
  height: 20px;
  position: relative;
  top: 5px;
  margin-left: 10px;
}

.newsBox a {
  font-size: 25px;
  text-decoration: none;
  color: var(--light-policy)
}

.separation {
  margin-top: 40px;
  height: 100px;
  width: 100%;
  vertical-align: center;
  justify-content: center;
  align-items: center;
  text-align: left;
  display: flex;
  background-color: var(--light-theme);
  font-size: 40px;
  color: var(--dark-policy);
}